.sqli{
	background-color: #6A4449 !important;
}
.xss{
	background-color: #7B595B !important;
}
.cookie{
	background-color: #8B646A !important;
}
.sendinf{
	background-color: #B9838C !important;
}
.functd{
	background-color: #4C5157 !important;
}
.lfirfi{
	background-color: #4C5157 !important;
}
.pathtraversal{
	background-color: #4C5157 !important;
}
.injecom{
	background-color: #4C5157 !important;
}
.injectcode{
	background-color: #4C5157 !important;
}